@model BuyInvoice


<h1>Edit</h1>
<form asp-controller="Home" asp-action="Edit" method="post">
 <input type="hidden" asp-for="Id" /> 

<label>تاريخ المستند</label>
<input asp-for="InvoiceDate" type="date"  />

<label>اسم العميل</label>
<input asp-for="ClientName" type="text"    />

<label> السعر</label>
<input asp-for="Price" type="number"   />

<label> الكميه</label>
<input asp-for="quantity" type="number" />


<select>

</select>
<label>اسم الصنف</label>
<select asp-for="ItemId" asp-items="ViewBag.items">

</select>

<label>نوع الصنف</label>
    <select asp-for="ItemTypeId" asp-items="ViewBag.itemtypes">
</select>

<input type="submit" value="Updte" class="btn btn-primary" />
</form>