@model BuyInvoice
@{
    ViewData["Title"] = "Invoice";
}

<div class="container">
    <h1>فاتوره مبيعات</h1>

    <form>
        <label>تاريخ المستند</label>
        <input type="date" name="name" value="" />

        <label>رقم المستند</label>
        <input type="text" name="name" value="" />

        <label>اسم العميل</label>
        <input type="text" name="name" value="" />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>نوع الصنف</th>
                    <th>اسم الصنف</th>
                    <th>السعر</th>
                    <th>الكميه</th>
                </tr>


            </thead>
            <tbody id="tbl">
            @*     <tr>
                    <td id="ftd">
                       
                         <select id="ddlItemType" class="drop-list">
                           
                                <option  value="">اختر نوع الصنف</option>

                        
                        </select>

                    </td>
                    <td>
                        <select  id="ddlItemName" >
                            <option value="">اختر اسم الصنف</option>
                        </select>

                    </td>
                    <td>
                        <input type="number" id="price" />
                    </td>
                    <td>
                        <input  type="number" value="0" id="quantity" />
                    </td>
                </tr> *@

            </tbody>
        </table>
    </form>

</div>

